/* --[vp]-[c]- prefix */
/* [vp] = vitepress, tokens used in the documentation interface itself */
/* [c] = color, omit if not a color */

:root {
  /* Tokens that are the same in light and dark mode */
  --vp-radius: 4px;
  --vp-c-bg-banner: #182237;

  --vp-font-size-1: 52px;
  --vp-font-size-2: 36px;
  --vp-font-size-3: 24px;
  --vp-font-size-4: 18px;

  --vp-line-height-1: 52px;
  --vp-line-height-2: 44px;
  --vp-line-height-3: 36px;
  --vp-line-height-4: 28px;

  /* Light mode */
  --vp-c-brand-1: #BE3830;
  --vp-c-brand-2: #c63f36;
  --vp-c-brand-3: #CF4840;
  --vp-c-brand-soft: rgba(255,72,64,.14);
  --vp-custom-block-tip-bg: rgba(var(--w-s-rgb-background-info), .10);
  --vp-c-text-1: #3c3c43;
  --vp-c-text-1-inverted: #FFFBD5;
  --vp-c-border: #C0C0D1;
  --vp-c-bg: #FFFFFF;
  --vp-c-bg-inverted: #131B2D;
  --vp-c-bg-soft: #f6f6f7;
  --vp-c-bg-soft-inverted: #182237;
  --vp-c-bg-alt: #f5f5f5;
  /* These are for svgs, to make them contrasty enough both in light and dark mode */
  --vp-c-svg1: #FFFBD5;
  --vp-c-svg2: #131B2D;
  --vp-c-svg3: #9EACC9;
  --vp-c-svg10: #EBEEF6;
  --vp-c-svg11: #131B2D;
  --vp-c-svg12: #FFFFFF;
}

/* Dark mode */
html.dark {
  --vp-c-brand-1: #F6D553;
  --vp-c-brand-2: #F6D553;
  --vp-c-brand-3: #F6D553;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
  --vp-home-hero-name-color: #F6D553;
  --vp-c-text-1: #FFFBD5;
  --vp-c-text-1-inverted: #3c3c43;
  --vp-sidebar-bg-color: #182237;
  --vp-c-bg: #131B2D;
  --vp-c-bg-inverted: #FFFFFF;
  --vp-c-bg-soft: #182237;
  --vp-c-bg-soft-inverted: #f6f6f7;
  --vp-c-bg-alt: #0b0f1d;
  --vp-nav-bg-color: #131B2D;
  --vp-code-color: #EFC2BF;
  --vp-c-tip-1: var(--vp-code-color);
  --vp-code-bg: #0b0f1d;
  --vp-custom-block-tip-code-bg: var(--vp-code-bg);
  --vp-code-block-bg: #0b0f1d;
  --vp-c-border: #5C5C66;
  --vp-c-svg1: #FFFBD5;
  --vp-c-svg2: #9EACC9;
  --vp-c-svg3: #D4D9E3;
  --vp-c-svg10: #1B263E;
  --vp-c-svg11: #FFFFFF;
  --vp-c-svg12: #000000;
}

/* Map the custom doc content to the --vp tokens, or set them directly */
:root {
  --vp-c-input-bg: var(--vp-c-bg);
  --vp-c-input-border: var(--vp-c-border);
  --vp-c-input-border-focus: var(--vp-c-brand-1);
  --vp-c-input-text: var(--vp-c-text-1);
  --vp-c-input-text-inverted: var(--vp-c-text-1-inverted);
  --vp-input-radius: var(--vp-radius);
  --vp-c-button-bg: var(--vp-c-bg);
  --vp-c-button-bg-active: var(--vp-bg-inverted);
  --vp-c-pill-bg: var(--vp-c-bg-soft);
  --vp-c-pill-bg-active: var(--vp-c-bg-soft-inverted);
}

html {
  font-size: 62.5% !important;
}

body {
  --vp-font-family-base: Finntype, Inter, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: auto;
}

html.dark body {
  background-color: var(--vp-c-bg);
  color: var(--vp-c-text-1);

}

.dark .VPNavBarTitle {
  --vp-c-text-1: #F6D553;
}
.dark .VPNavBarTitle .title {
  border-bottom-color: transparent!important;
}
.VPNavBar .container {
  background-color: var(--vp-c-bg)
}
.VPNavBar .divider{
  padding-left: 0!important;
}
.dark .VPSidebar {
  --vp-c-divider: #FFFBD525;
}

.dark .VPHero .image-bg {
  --vp-home-hero-image-background-image: linear-gradient(135deg, rgba(4,121,144, 0.25) 0%, rgba(138,105,156, 0.25) 100%);
  --vp-home-hero-image-filter: blur(32px);
}

@media (min-width: 768px) {
  .VPNavBarSearch {
    order: -1;
    flex-grow: 0;
  }
  .VPNavBar .theme-switcher-container {
    flex-grow: 1;
    display: flex;
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .VPNavBar .theme-switcher-container {
    display: none;
  }
}
@media (min-width: 768px) AND (max-width: 1023px) {
  .VPNavBar .theme-switcher label {
    display: none;
  }
}


.vp-doc blockquote > p {
  font-size: 1.28rem !important;
}

/* weight was 500, finnfont doesnt ship 'medium', but might be fun to actually ship the right fonts here? */
.VPNavBarMenuLink {
  font-weight: 700 !important;
}
/* make the border stand out a touch more */
.vp-doc h2 {
  border-top-width: 2px;
}
/* wasn't enough breathing room here, add some more */
.vp-doc h4 {
  margin: 24px 0 0 0;
}
/* line-height was comically large */
.vp-doc p {
  line-height: 1.5;
}
/* Ensure tables behave like tables and take full width */
.vp-doc table {
  display: table;   /* Override any display: block */
  min-width: 100%;  /* Ensure the table is at least 100% of its container */
}

/* Wrap tables inside a container to handle horizontal overflow */
.vp-doc .table-container {
  overflow-x: auto;
  width: 100%;  /* Ensure the container itself takes up the full width */
}

.line-through {
  text-decoration-line: line-through;
}

.VPSidebarItem.has-active.collapsible > .item .caret
{
  color: var(--vp-c-text-1);
}
.VPSidebarItem.collapsible .item:hover *,
.VPSidebarItem.has-active.collapsible > .item:hover .text
{
  color: var(--vp-c-brand-2);
}

.styled-image-block {
    background-color: #f5f5f5; /* Light grey background */
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    width: 100%; /* Full width of parent */
    position: relative; /* For absolute positioning of image */
    overflow: hidden; /* To hide any overflow of the image */
    display: flex;
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
}

.styled-image-block img {
  max-width: 100%; /* Ensure the image scales to fit within the container */
  height: auto; /* Maintain image aspect ratio */
  object-fit: cover; /* Cover the container, preserving aspect ratio */
}


/* Plain html elements with general styling for the whole doc */
/* Use on all standard buttons */
.doc-button {
  background-color: var(--vp-c-bg);
  color: var(--vp-c-input-text);
  padding: 4px 8px;
  border-radius: var(--vp-input-radius);
}

.doc-button-active {
  /* For a toggled on state */
  background-color: var(--vp-c-button-bg-active);
  color: var(--vp-c-input-text-inverted);
}

.doc-button:focus {
  outline: 1px solid var(--vp-c-brand-1);
}

/* Use on all pill formed buttons */
.doc-pill {
  background-color: var(--vp-c-pill-bg);
  color: var(--vp-c-input-text);
  padding: 4px 8px;
  border-radius: 9999px;
  min-width: 60px
}

.doc-pill-active {
  /* For a toggled on state */
  background-color: var(--vp-c-pill-bg-active);
  color: var(--vp-c-input-text-inverted);
}

.doc-pill:focus {
  outline: 1px solid var(--vp-c-brand-1);
}

/* Use on all input fields */
.doc-input {
  border: 1px solid var(--vp-c-input-border);
  color: var(--vp-c-input-text);
  padding: 4px 8px;
  border-radius: var(--vp-input-radius);
  background-color: var(--vp-c-input-bg);
}

.doc-input:focus {
  border: 1px solid var(--vp-c-input-border-focus);
}

.VPHome {
  margin-bottom: 0px !important;
}