:root {
  --vp-c-brand-1: #BE3830;
  --vp-c-brand-2: #c63f36;
  --vp-c-brand-3: #CF4840;
  --vp-c-brand-soft: rgba(255,72,64,.14);
  --vp-custom-block-tip-bg: rgba(var(--w-s-rgb-background-info), .10);
}

html {
  font-size: 62.5% !important;
}

body {
  --vp-font-family-base: Finntype, Inter, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: auto;
}

html.dark body {
  background-color: var(--vp-c-bg);
  color: var(--vp-c-text-1);
  --vp-c-brand-1: #F6D553;
  --vp-c-brand-2: #F6D553;
  --vp-c-brand-3: #F6D553;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
  --vp-home-hero-name-color: #F6D553;
  --vp-c-text-1: #FFFBD5;
  --vp-sidebar-bg-color: #182237;
  --vp-c-bg: #131B2D;
  --vp-c-bg-soft: #182237;
  --vp-c-bg-alt: #0b0f1d;
  --vp-nav-bg-color: #131B2D;
  --vp-code-color: #EFC2BF;
  --vp-c-tip-1: var(--vp-code-color);
  --vp-code-bg: #0b0f1d;
  --vp-custom-block-tip-code-bg: var(--vp-code-bg);
  --vp-code-block-bg: #0b0f1d;
}

.dark .VPNavBarTitle {
  --vp-c-text-1: #F6D553;
}

.dark .VPSidebar {
  --vp-c-divider: #FFFBD525;
}

.dark .VPHero .image-bg {
  --vp-home-hero-image-background-image: linear-gradient(135deg, rgba(4,121,144, 0.25) 0%, rgba(138,105,156, 0.25) 100%);
  --vp-home-hero-image-filter: blur(32px);
}

@media (min-width: 768px) {
  .VPNavBarSearch {
    order: -1;
    flex-grow: 0;
  }
  .VPNavBar .theme-switcher-container {
    flex-grow: 1;
    display: flex;
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .VPNavBar .theme-switcher-container {
    display: none;
  }
}
@media (min-width: 768px) AND (max-width: 1023px) {
  .VPNavBar .theme-switcher label {
    display: none;
  }
}


.vp-doc blockquote > p {
  font-size: 1.28rem !important;
}

.VPNavBar {
  --vp-nav-bg-color: #131B2D;
  background-color: var(--vp-nav-bg-color);
}
.VPNavBar::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 104px;
  background: url('stars-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.VPNavBar::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background: url('hero-wavy-line.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* weight was 500, finnfont doesnt ship 'medium', but might be fun to actually ship the right fonts here? */
.VPNavBarMenuLink {
  font-weight: 700 !important;
}

.VPNavBarMenuLink.active {
  --vp-c-brand-1: #F6D553;
  text-decoration: underline;
}
/* make the border stand out a touch more */
.vp-doc h2 {
  border-top-width: 2px;
}
/* wasn't enough breathing room here, add some more */
.vp-doc h4 {
  margin: 24px 0 0 0;
}
/* line-height was comically large */
.vp-doc p {
  line-height: 1.5;
}

.line-through {
  text-decoration-line: line-through;
}

.VPSidebarItem.has-active.collapsible > .item .caret
{
  color: var(--vp-c-text-1);
}
.VPSidebarItem.collapsible .item:hover *,
.VPSidebarItem.has-active.collapsible > .item:hover .text
{
  color: var(--vp-c-brand-2);
}
.VPHero {
  --vp-c-bg: #0F1728;
  background-color: var(--vp-c-bg);
  margin-bottom: 60px;
  position: relative;
}
.VPHero::before {
  content: '';
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 104px;
  background: url('stars-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.VPHero::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background: url('hero-wavy-line.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.VPHero .container .main .name .clip {
  --vp-home-hero-name-color: #F6D553;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
}
.VPHero .container .main .tagline {
  --vp-c-text-2: #FFFBD5;
  max-width: 24ch;
}
.VPHero .container .image .image-container .VPImage {
  max-width: 578px;
  max-height: 238px;
  width: 100%;
}
@media (min-width: 768px) {
  .VPHero .container .image .image-container .VPImage {
    max-width: 578px;
    max-height: 238px;
    width: unset;
  }
}
.VPHomeFeatures .item .VPLink {
  --vp-c-bg-soft: #131B2D;
  max-width: 557px;
  max-height: 351px;
  border-radius: 8px;
}
.VPHomeFeatures .item .VPLink .box {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-areas:
    "title icon"
    "details icon"
    "link icon"
    "link-text icon";
  padding: 60px 38px 60px 38px;
  }
.VPHomeFeatures .item .VPLink .box .VPImage {
  grid-area: icon;
  justify-self: end;
}
.VPHomeFeatures .item .VPLink .box .title {
  grid-area: title;
  color: #F6D553;
  font-size: 36px;
  line-height: 52px;
}
.VPHomeFeatures .item .VPLink .box .details {
--vp-c-text-2: #FFFBD5;
  grid-area: details;
  font-size: 22px;
  line-height: 32px;
}
.VPHomeFeatures .item .VPLink .link-text {
  grid-area: link;
  color: #FFFBD5;
}
.VPHomeFeatures .item .VPLink .link-text-value {
  --vp-c-text-2: #FFFBD5;
  grid-area: link-text;
  color: var(--vp-c-text-2);
  font-size: 16px;
  text-decoration: underline;
}
.VPButton {
  --vp-button-brand-text: #FFFBD5;
  color: var(--vp-button-brand-text);
}
.VPNavBarTitle .title {
  border-bottom: none;
}
.VPNavBarTitle .title .VPImage {
  height: 96px;
}

.VPNavBarTitle .title span {
  display: none;
}

.VPContent .VPDoc .container .aside .aside-curtain {
  display: none;
}

.VPNavBar .wrapper .container .content {
  padding-left: 0;
  padding-right: 0;
}

.VPLink.VPNavBarMenuLink {
  --vp_c-text-1: #FFFBD5;
  color: var(--vp_c-text-1);
}
.VPLink.VPNavBarMenuLink:hover {
  --vp_c-text-1: #F6D553;
  color: var(--vp_c-text-1);
  
}
.VPLink.VPNavBarMenuLink:active {
  --vp_c-text-1: #F6D553;
  color: var(--vp_c-text-1);
  text-decoration: underline;
}
.VPNavBarSearch #local-search .DocSearch {
  background-color: transparent;
}

.DocSearch .DocSearch-Button-Keys {
  display: none;
}


.DocSearch-Button-Container .DocSearch-Button-Placeholder {
  display: none;
}

.DocSearch-Button .DocSearch-Search-Icon,
.DocSearch-Button-Container .vp-icon {
  --vp-c-text-2: #FFFBD5;
  color: var(--vp-c-text-2);
}

.VPNavBarHamburger {
  --vp-c-text-1: #FFFBD5;
}

.VPNavBarHamburger.active {
  --vp-c-text-2: #F6D553;
  color: var(--vp-c-text-1);
}

.DocSearch-Button:hover {
  border-color: transparent;
}

.DocSearch-Button:hover .DocSearch-Search-Icon {
  color:#F6D553;
}

.VPNavBarAppearance.appearance {
 display: none;
}

.VPSocialLinks.VPNavBarSocialLinks {
  display: none;
 }

@media (min-width: 768px) {
.VPNavBar .wrapper .container .content .content-body {
  display: grid;
  grid-template-areas:
    "get-started foundations components blog search"
}
}

 .VPNavBarSearch {
  grid-area: search;
 }